body{
    background-color: lightgrey;
}
h1{
    background-color: azure;
}
h1{
color: red;
}
h1{
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-weight: bold;
}
H2{
    text-align: center;
}
            